@model IEnumerable<MVCInjectionDependency.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @foreach(var element in Model)
            {
                <div>@element.Title</div>
            }
</div>
