@model IEnumerable<MVCInjectionDependency.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Esto solo es un proyecto para conocer el Patrón de diseño inyección de dependencias</h1>
    <p>En este proyecto dejo constancia del uso del Patrón de diseño inyección de dependencias</p>
    <p>Tratar de evitar que una clase tenga dependencias fuertes de otra clase</p>
    <h5><strong>Realizado por Oscar Castro con fines educativos</strong></h5>
</div>
